body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

p {
    padding: 10px;
    margin: 10px;
}

.p-mainbody {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}